@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Regular.ttf');
}


.HBox {
    -fx-background-color: #38686A;
    -fx-background-radius: 15px 15px 0 0;
    -fx-border-radius: 15px 15px 0 0;
}

.title {
    -fx-font-family: 'Merriweather';
    -fx-text-fill: white;
    -fx-font-size: 20px
}

.container {
    -fx-background-color: #ffffff;
}

.vbox {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: #F6EAD8;
    -fx-background-radius: 0 0 15px 15px;
    -fx-border-radius:  0 0 15px 15px;
}

.scroll-pane .viewport {
    -fx-background-color: #F6EAD8;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #38686A;   /* Dark gray background for the thumb */
    -fx-background-insets: 2px;      /* Add some inset around the thumb */
}