@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Regular.ttf');
}

.container {
    -fx-background-color: #ffffff;
}

.scroll-pane {
    -fx-background-color: transparent;

}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}