@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto-Regular.ttf');
}

.container {
    -fx-background-color: white;
}

.input {
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: #7D694D;
    -fx-background-color: #FFF;
    -fx-font-size: 12px;
}

.delete-button {
     -fx-border-radius: 5px;
     -fx-background-color: #D25E5E;
 }

 .quantity {
    -fx-text-fill: black;
    -fx-font-family: 'Roboto';
    -fx-font-size: 14px;
 }